*.dSYM
*.dSYM.zip
*.hmap
*.ipa
*.moved-aside
*.xccheckout
*.xcscmblueprint
.DS_Store
.idea
.package.resolved
.tuist_default_targets
Brewfile.lock.json
Derived/
DerivedData/
Modules/.build
Modules/.netrc
Modules/.swiftpm/config/registries.json
Modules/.swiftpm/xcode/**/*.xcscheme
Modules/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
Modules/Package.resolved
Modules/Packages
Modules/xcuserdata/
Pods/
Tuist/.build
Tuist/Dependencies/Carthage
Tuist/Dependencies/Cocoapods
Tuist/Dependencies/SwiftPackageManager
Tuist/Dependencies/graph.json
Tuist/Package.resolved
build/
graph.json
graph.png
xcuserdata/
